# Project specific
.npmrc
*/dist
*/build
*/.idea/
*/report/cucumber-html-report.html
*/report/report.json
*/report/screenshots/
*/report/videos/
# Packages
*/node_modules

# Logs
*.log

# Config files
*/package-lock.json
# IDE & Editors
*/target/

/target/
/.settings/
/.classpath
/.project
/logs/
/.idea
*.iml
.DS_Store
node_modules
report
package-lock.json